* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}
.page-container {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 24px;
}
.card-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 24px;
    align-items: center;
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    margin: 10px;
    padding: 0 0 16px 0;
    font-size: 14px;
    color: white;
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.35);
}
.card:hover {
    background-color: #151515;
}
.pokemon-photo {
    width: 200px;
    height: 200px;
}
